<br />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Forgot Password Reset</h3>
        </div>
        <div class="card-body">
          <form
            *ngIf="!isLoggedIn"
            (ngSubmit)="onSubmit()"
            #f="ngForm"
            novalidate
          >
            <div class="form-group">
              <label for="email">Email :</label>
              <input
                type="email"
                class="form-control"
                name="email"
                [(ngModel)]="form.email"
                required
                #email="ngModel"
              />
            </div>
            <div *ngIf="email.invalid && (email.touched || f.submitted)">
              <small class="text-danger">Email is required</small>
            </div>

            <br />
            <div class="form-group">
              <button
                type="submit"
                [disabled]="!f.form.valid"
                class="btn btn-primary btn-block"
              >
                Send Mail
              </button>
            </div>
            <br />
            <div class="form-group" *ngIf="f.submitted">
              <div class="alert alert-danger" role="alert">
                {{ responseMessage }}
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
