<!-- app.component.html
<h3>Sign Up</h3>
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6 custom-form">
      <div class="border rounded p-4">
        <form (ngSubmit)="submitForm()">
          <div class="mb-3">
            <label class="form-label">FirstName :</label>
            <input
              type="text"
              id="firstName"
              name="firstName"
              [(ngModel)]="formData.firstName"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label">LastName :</label>
            <input
              type="text"
              id="lastName"
              name="lastName"
              [(ngModel)]="formData.lastName"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Email :</label>
            <input
              type="email"
              id="email"
              name="email"
              [(ngModel)]="formData.email"
              class="form-control"
              required
            />
          </div>
          <div class="mb-3">
            <label class="form-label">Password :</label>
            <input
              type="password"
              id="password"
              name="password"
              [(ngModel)]="formData.password"
              class="form-control"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div> -->
