<br />
<h4>
  &nbsp; List of Uploaded Documents for
  <span style="color: blue">{{ userName }}</span>
</h4>
<h5 style="color: grey">&nbsp;&nbsp; Double click to download</h5>
<br />
&nbsp;&nbsp;<input
  style="width: 400px; height: 40px"
  type="text"
  [(ngModel)]="searchTerm"
  placeholder="Enter search term"
/>
&nbsp;<button class="btn btn-primary" (click)="search()">Search</button>
<br />
<h5>&nbsp;&nbsp;<span style="color: grey">Count : </span>{{ docCount }}</h5>
<br />
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let item of items">
      <div
        class="card bg-light border-primary h-100"
        (dblclick)="getFile(item.documentPath, item.fileName)"
        [ngClass]="{ 'card-hover': hover === item.documentPath }"
        (mouseenter)="hover = item.documentPath"
        (mouseleave)="hover = null"
      >
        <div class="card-body">
          <h5 class="card-title">
            <span class="red-text">Title:</span> {{ item.title }}
          </h5>
          <p class="card-text">
            <span class="pink-text">File Name :</span> {{ item.fileName }}
          </p>
          <p class="card-text">
            <span class="pink-text">BlockChain Transaction Hash :</span>
            {{ item.transactionId }}
          </p>
          <p class="card-text">
            <span class="pink-text">IPFS Hash :</span> {{ item.documentPath }}
          </p>
          <p class="card-text">
            <span class="pink-text">Hash (sha-256) :</span> {{ item.hash }}
          </p>
          <p class="card-text">
            <span class="pink-text">File Identifier :</span>
            {{ item.fileIdentifier }}
          </p>
          <p class="card-text">
            <span class="pink-text">File Size (MB) : </span
            >{{ item.fileSizeMB }}
          </p>
          <p class="card-text">
            <span class="pink-text">Expiry Date : </span>{{ item.expiryDate }}
          </p>
          <p class="card-text">
            <span class="pink-text">Issuing Org : </span>{{ item.issuer }}
          </p>
          <p class="card-text">
            <span class="pink-text">Uploaded On :</span> {{ item.createdAt }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
